@import "./../../assets/styles/variables.scss";

.v-catalog-item {
    text-align: center;
    flex-basis: 25%;
    box-shadow: 0 0 8px 0 #e8e8e8;
    padding: $padding*2;
    margin-bottom: $margin*2;
    &__image {
        max-width: 100%;
    }
}