@import "./../../assets/styles/styles.scss";

.v-catalog {
    margin-top: 30px;
    position: relative;
    &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    }
    &__title {
        text-align: center;
    }
    &__link-to-cart {
        @include router-link;
    }
}