@import "./../../assets/styles/styles.scss";

.v-catalog {
    margin-top: 30px;
    position: relative;
    &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    }
    &__title {
        text-align: center;
    }
    &__link-to-cart {
        @include router-link;
    }
    &__search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 16px 0;
        position: relative;
        .material-icons {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color:  rgb(177, 177, 177);
        }
        .search-input {
            flex: 1;
            outline: none;
            border: 1px solid #00a500;
            border-radius: 5px;
            padding: 0 10px;
            color:  rgb(121, 121, 121);
            line-height: 40px;
            font-size: 20px;
        }
    }
}