@import "./../../assets/styles/variables.scss";

.v-cart-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 0 8px 0 #e8e8e8;
    padding: $padding*2;
    margin-bottom: $margin*2;
    &__image {
        height: 100px;
    }
    &__button-wrapper {
        button {
            margin: 16px;
        }
    }
    &__change-item-amount-btn {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: lightgrey;
        user-select: none;
    }

}